<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <h1>Bienvenidos a la app</h1>
    <form action="/post" method="post">
        <textarea name="content" placeholder="Escribe una publicacion" required></textarea>
        <button type="submit">Publicar</button>
    </form>
    <h2>Publicaciones:</h2>
    <ul>
        {% for post in posts %}
            <li>{{ post }}</li>
        {% endfor %}
    </ul>
</body>
</html>
