<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="iniciar sesion">
        <h1>Inicio de sesion</h1>
        <form method="post">
            <div class="Nombre">
                <label>Nombre de usuario</label>
                <input type="text" required>
            </div>
            <div class="Contraseña">
                <label>Contraseña</label>
                <input type="password">
            </div>
            <div class="recordar">¿Olvido su contraseña?</div>
            <input type="submit" value="iniciar">
            <div class="registrarse">Quiero hacer el <a href="#">registro</a></div>
        </form>
    </div>
</body>
</html>

