<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post de {{ post.user.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}">
</head>
<body>
    <h1>Post de <a href="/user/{{ post.user_id }}">{{ post.user.username }}</a></h1>
    <p>{{ post.text }}</p>
    {% if post.image %}
        <img src="{{ url_for('static', filename='uploads/' ~ post.image) }}" alt="Imagen del post">
    {% endif %}
    <p>Publicado el {{ post.created_at }}</p>

    <h2>Respuestas:</h2>
    <ul>
        {% for reply in post.comments %}
            <li>
                <p><strong>{{ reply.user.username }}</strong>: {{ reply.text }}</p>
                <p>Publicado el {{ reply.created_at }}</p>
            </li>
        {% endfor %}
    </ul>

    <form action="/post/{{ post.id }}/reply" method="post">
        <textarea name="content" placeholder="Escribe una respuesta" required></textarea>
        <button type="submit">Responder</button>
    </form>
</body>
</html>
